@nestjslib:registry=https://pkgs.dev.azure.com/OEG-Platforms/RapidX-Rel2.0/_packaging/SharedLibraryFeed/npm/registry/ 
                        
always-auth=true

//pkgs.dev.azure.com/OEG-Platforms/RapidX-Rel2.0/_packaging/SharedLibraryFeed/npm/registry/:username=VssSessionToken
; This is an unencrypted authentication token. Treat it like a password. DO NOT share this value with anyone, including Microsoft support.
//pkgs.dev.azure.com/OEG-Platforms/RapidX-Rel2.0/_packaging/SharedLibraryFeed/npm/registry/:_password=Y2R6emQzdHNodjYzYmJ4cjJmcG43anl0ZGt5b2V2YWw1ZWpjcnFyNXcydHl3cnA2Z2NzYQ==
; The npm client won't use username and _password without an email set, but the service doesn't use the email value. The following is an arbitrarily made-up address.
//pkgs.dev.azure.com/OEG-Platforms/RapidX-Rel2.0/_packaging/SharedLibraryFeed/npm/registry/:email=not-used@example.com
